{% extends 'base.html' %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<body>
  <main>
<p style='color:brown'; text-align:center;>Launch Date: <time datetime="2022-03-14">14th March 2022</time></p>

<p class=info>A warm welcome to our recently launched application. This is a result of a leading Newpaper company new initiative to launch a web application for
collecting news and displaying them in a website. The web application for the company has been designes using Python
falsk Framework. Feel free to explore and give remark as it is a work in progress.</p>
  </main>
</body>
</html>
{% endblock %}
